node_modules/
.expo/
dist/
build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
*.sqlite
*.db
assets/french-words.txt
assets/dictionary.sql
npm-debug.*
yarn-debug.*
yarn-error.*
